Flask
python-dotenv
PyJWT
google-generativeai
pinecone-client
supabase
cloudinary
PyPDF2
langchain
langchain-google-genai
nltk
networkx
transformers
torch
numpy
markdown
retry
reportlab
beautifulsoup4
gunicorn
flask_cors
